header {
  border: 15px solid silver;
  background-color: #02800f;
  color: white;
}

nav {
  border: 15px solid silver;
  background-color: rgba(190, 2, 2, 0.92);
  color: white;
}

article {
  border: 15px solid silver;
  background-color: rgba(190, 2, 2, 0.92);
  color: white;
}

section {
  border: 15px ;
  background-color: silver;
  color: white;
}

footer {
  border: 15px solid silver;
  background-color: #02800f;
  color: white;
}
