header {
  border: 5px solid white;
  background-image: url("../img/tree3.jpg");
  background-color: #cccccc;
  color: white;
  background-size: cover;
  text-shadow: 3px 2px lightcoral;
}

ul {
  list-style-type: none;
  margin: 1,5;
  padding: 0;
}

li {
  display: inline;
}

li a {
  text-decoration: none;
  color: black;
  background-color: lightcoral;
  border: solid 0.1em white;
  padding: 0.2em;
}

li a:hover {
  background-color: black;
  color: lightcoral;
  border: solid 0.1em lightcoral;
}

nav {
  text-align: center;
  border: 10px solid black;
  background-color: lightcoral;
  color: black;
}
